services:
  cart-service-db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: carts
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql

  rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  db_data:
    driver: local